 @model Country


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Create Country</h4>
        <form class="form-sample row g-3" asp-action="Create" method="post">
             
            
                
                    <div class="col-12 ">
                        <label class=" form-label">Country Name</label>
                         
                            <input asp-for="CountryName" class="form-control" />
                            <span asp-validation-for="CountryName" class="text-danger"></span>                  
                 
                        
                </div>
                
                    
                       
                       
               
           
             
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
        <a class="btn btn-success" asp-action="Index"> Back To List </a>
    </div>
</div>

    