  @model OrderDeliveryVM
  <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Post My greetings</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/FrontEnd/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="~/FrontEnd/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/FrontEnd/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/FrontEnd/css/style.css" rel="stylesheet">
</head>


<body>
     <div class="container-fluid contact py-5">
        <div class="container py-5">
            <div class="p-5 bg-light rounded">
                <div class="row g-4">
                    <h2>Delivery Address</h2>
                   @*  <h5> Order No:@ViewBag.OrderId </h5> *@
                    <form class="pt-3" asp-action="DeliveryAddress" asp-controller="Orderdelivery" method="post">
                        <input type="hidden" asp-for="OrderId" value="@TempData["OrderID"]" />
                        <div class="col-md-12 col-lg-6 col-xl-7">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row col-12">
                                <div class="col-md-12 ">
                                    <div class="form-item w-100">
                                        <label class=" form-label">
                                            Deliver To PersonName:
                                            <input asp-for="DeliverToPersonName" class="form-control" />
                                            <span asp-validation-for="DeliverToPersonName" class="text-danger"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" form-label">
                                        Address :
                                        <textarea asp-for="DeliveryAddress" class="form-control"></textarea>
                                        <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
                                    </label>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="form-item w-100">
                                        <label class=" form-label">
                                            PinCode:
                                            <input asp-for="PinCode" class="form-control" />
                                            <span asp-validation-for="PinCode" class="text-danger"></span>
                                        </label>
                                    </div>
                                    <div class="col-md-12 ">
                                        <div class="form-item w-100">
                                            <label class=" form-label">
                                                Contact No:
                                                <input asp-for="ContactNo" class="form-control" />
                                                <span asp-validation-for="ContactNo" class="text-danger"></span>
                                            </label>
                                        </div>
                                    <div class="form-group">
                                        <label class="form-label">Select Country Name</label>
                                        <select id="country" class="form-select" asp-for="CountryId" asp-items="@ViewBag.Countrys">
                                             
                                            <option> Select Country</option>
                                        </select>
                                        <span asp-validation-for="CountryId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Select State Name</label>
                                        <select id="state" class="form-select" asp-for="StateId" asp-items="@ViewBag.State">
                                            <option> Select State</option>
                                        </select>
                                        <span asp-validation-for="StateId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Select City Name</label>
                                        <select id="city" class="form-select" asp-for="CityId" asp-items="@ViewBag.City">
                                            <option> Select City</option>
                                        </select>
                                        <span asp-validation-for="CityId" class="text-danger"></span>
                                    </div>
                                    <div class="mt-5">
                                        <button class="btn btn-primary w-100" type="submit" style="background-color:blueviolet;color:white">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Frontend/lib/easing/easing.min.js"></script>
    <script src="~/Frontend/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Frontend/lib/lightbox/js/lightbox.min.js"></script>
    <script src="~/Frontend/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/Frontend/js/main.js"></script>
</body>

</html>
<script type="text/javascript">
    $(function () {
        $("#country").change(function () {

            $.ajax({
                url: "/Home/GetStateJson/" + $("#country").val(),
                type: "Get",
                contentType: "application/json",
                success: function (result) {
                    //alert(JSON.stringify(result));
                    $("#state").empty();
                    for (var i = 0; i < result.length; i++) {
                        var str = "<option value='" + result[i].stateId + "'>" + result[i].stateName + "</option>";
                        $("#state").append(str);
                    }
                },
                error: function (err) {
                    alert(JSON.stringify(err));
                }
            });

        });

        $("#state").change(function () {

            $.ajax({
                url: "/Home/GetCityJson/" + $("#state").val(),
                type: "Get",
                contentType: "application/json",
                success: function (result) {
                    //alert(JSON.stringify(result));
                    $("#city").empty();
                    for (var i = 0; i < result.length; i++) {
                        var str = "<option value='" + result[i].cityId + "'>" + result[i].cityName + "</option>";
                        $("#city").append(str);
                    }
                },
                error: function (err) {
                    alert(JSON.stringify(err));
                }
            });

        });



    });

</script>
